[submodule "libs/audio"]
	path = libs/audio
	url = https://github.com/NoamZeise/audio.git
[submodule "libs/OpenGLEnvironment"]
	path = libs/OpenGLEnvironment
	url = https://github.com/NoamZeise/OpenGL-Environment.git
[submodule "libs/VulkanEnvironment"]
	path = libs/VulkanEnvironment
	url = https://github.com/NoamZeise/Vulkan-Environment.git
